@model BigStore.BusinessObject.Product

@{
    ViewData["Title"] = "Chỉnh sửa sản phẩm";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="ShopId" />
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ThumbnailFiles" class="control-label"></label>
                <input id="ThumbnailFiles" type="file" name="ThumbnailFiles" class="form-control" accept="image/*" multiple />
                <div class="preview">
                    <div id="thumbnail-preview">
                        @foreach (var img in Model.ProductImages)
                        {
                            <img class="preview-image" src="@img.ImageUrl" alt="ảnh sản phẩm" />
                        }
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a class="btn btn-primary" asp-action="Index">Trở về danh sách sản phẩm</a>
</div>

@*@{
    var summernote = new Summernote("#Description");
}
<partial name="_Summernote" model="summernote" />
*@
<script>
    $(document).ready(function () {
        $("#ThumbnailFiles").on("change", function () {
            var files = this.files;
            var previewContainer = $("#thumbnail-preview");

            previewContainer.empty();

            for (var i = 0; i < files.length; i++) {
                var file = files[i];
                var reader = new FileReader();

                reader.onload = function (e) {
                    var img = $("<img>").attr("src", e.target.result).addClass("preview-image");
                    previewContainer.append(img);
                };

                reader.readAsDataURL(file);
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
