@model BigStore.BusinessObject.DiscountCode

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DiscountCode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DiscountTypeId" class="control-label"></label>
                <select asp-for="DiscountTypeId" class="form-control" asp-items="ViewBag.DiscountTypeId"></select>
                <span asp-validation-for="DiscountTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxValueDiscount" class="control-label"></label>
                <input asp-for="MaxValueDiscount" class="form-control" />
                <span asp-validation-for="MaxValueDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RemainingUsageCount" class="control-label"></label>
                <input asp-for="RemainingUsageCount" class="form-control" />
                <span asp-validation-for="RemainingUsageCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsDeleted" class="control-label"></label>
                <input asp-for="IsDeleted" class="form-control" />
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
