@model List<IGrouping<Shop, Cart>>
@{
    ViewData["Title"] = "Tạo đơn hàng";
}
<h1>@ViewData["Title"]</h1>

@foreach (var group in Model)
{
    var shop = group.Key;

    <p>Shop name: @shop.ShopName</p>
    @foreach (var item in group)
    {
        <p>Tên sản phẩm: @item.Product?.Name</p>
    }
}