@model BigStore.BusinessObject.Category

@{
    ViewData["Title"] = "Thêm danh mục";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParentCategoryId" class="control-label"></label>
                <select asp-for="ParentCategoryId" class ="form-control" asp-items="ViewBag.ParentCategoryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="8" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="ThumbnailFile" class="control-label"></label>
                <input id="ThumbnailFile" type="file" name="ThumbnailFile" class="form-control" accept="image/*" />
                <div class="preview">
                    <img id="thumbnail-preview">
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div class="mt-3">
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@{
    var summernote = new Summernote("#Description");
}
<partial name="_Summernote" model="summernote" />

<script>
    $(document).ready(function () {
        $("#ThumbnailFile").on("change", function () {
            var preview = $("#thumbnail-preview");
            var file = this.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                preview.attr("src", e.target.result);
            }

            if (file) {
                reader.readAsDataURL(file);
            }
        });

        // Kiểm tra nếu đã có ảnh được chọn trước đó (ví dụ: trong trường hợp sửa thông tin)
        var thumbnailFile = $("#ThumbnailFile");
        if (thumbnailFile[0].files.length > 0) {
            thumbnailFile.change();
        }
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
