@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var resultAuthorize = await authorizationService.AuthorizeAsync(this.User, "ShowAdminMenu");
}

@if (resultAuthorize.Succeeded)
{
    <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle active mr-md-2" href="#" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item" asp-area="Database" asp-controller="DbManage" asp-action="Index">Quản lý Db</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="Admin" asp-page="/Role/Index">Quản lý role</a>
            <a class="dropdown-item" asp-area="Admin" asp-page="/Role/User">Gán role cho User</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-area="Admin" asp-controller="Categories" asp-action="Index">Quản lý Category</a>
        </div>
    </li>
}